PORT=8080
SHOPIFY_API_KEY=
APP_URL=https://api.dev.aloyoga.com
APP_STACK=retail-pos
SHOPIFY_SESSION_TABLE_NAME=retail-dev-pos-session-data
POS_FEATURE_CONFIGS_TABLE=retail-dev-pos-feature-configs
POS_EXCLUSION_LIST_TABLE=retail-dev-pos-exclusion-list
EMPLOYEE_ORDER_EVENTS_QUEUE_REGION=us-east-1
EMPLOYEE_ORDER_EVENTS_QUEUE_URL=
EMPLOYEE_ORDER_EVENTS_TABLE=retail-dev-pos-employee-order-events
HRIS_USER_SYNC_BASE_URL=https://hris.dev.alo.technology
SHOPIFY_API_KEY_SECRET_NAME=/retail/alo-retail-pos-service/shopify/key/dev
SHOPIFY_APP_ENV=dev
SHOPIFY_CLIENT_ID=
